/* Import Google fonts */
@import url("https://fonts.google.com/css?font-family=Lora|Roboto");

/*Import all components file */
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/cards.css");

/* General style rules for fonts and colours */
body{
	font-family: 'Lora', sans-serif;
	background-color: rgb(240,240,240);
	font-size: 18px;
}
h1, h2, h3{
	font-family: Lora, Helvetica, sans-serif;
	font-weight: bold;
}

h2 {
	padding-left: 20px;
	margin: 20px auto;
}
a{
	text-decoration: none;
}